go 1.26.4

use (
	.
	./.vendor-local/eventtest
	./adminui
	./examples/admin-demo
	./examples/basic
	./examples/catalog-demo
	./examples/datastar-demo
	./integration_test
	./loginpage
	./usermgmt
	./usermgmt/oauth2
	./usermgmt/totp
	./usermgmt/webauthn
)
